[alias]
	co = checkout
	br = branch
    pr = pull --rebase
    tree = log --graph --oneline --decorate --all
[core]
	editor = vim
[color]
    grep = true
    diff = true
[user]
	name = Samuel Phan
	email = samuel@quoonel.com
[push]
	default = simple
