[alias]
	co = checkout
	br = branch
    pr = pull --rebase
[core]
	editor = vim
[color]
    grep = true
    diff = true
[user]
	name = Samuel Phan
	email = samuel@quoonel.com
[push]
	default = simple
